.main {
  display: flex;
  flex-direction: column
}

nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 30px;
  background: #333;
}

button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #444;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s ease;
}


button:hover,
button:focus {
  background-color: #555;
  color: white;
  border-color: #555;
  transform: scale(1.05);
}

